// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Table => editable cells

.row--editable .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.row--editable .anticon-close-circle {
  display: none;
}

.row--editable__editing .anticon-close-circle,
.row--editable:hover .anticon-close-circle {
  display: inline-block;
}

.row--editable .ant-table-cell-fix-left {
  cursor: pointer;
}

// Table => checkbox cells

label.ant-checkbox-wrapper {
  margin-left: 8px;
}

// Action buttons

button#action-button {
  margin: 25px 16px;
}
