// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Layout

#root {
  letter-spacing: 0.3px;
}

.ant-layout-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0px 0px 20px 10px #000;

  .logo {
    float: left;
    width: 100px;
    height: 100%;
    text-align: center;

    .logo__image {
      width: auto;
      height: 100%;
      vertical-align: top;
    }
  }  
}
